# BeautifulSoup WebScraping

In [42]:
# Import packages

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [129]:
# Selecting website for scraping

url = "https://www.temu.com/au/engineer-cotton-t-shirt-for-men-and-teens-casual-short-sleeved-knit-fabric-with-round-neck-alphabet-pattern--cotton-regular-fit-versatile-top-for--g-601099667009753.html?top_gallery_url=https%3A%2F%2Fimg.kwcdn.com%2Fproduct%2Fopen%2F2024-09-10%2F1725994189157-bd49550f30984ec196b4e5d150e411c4-goods.jpeg&spec_id=15106&spec_gallery_id=8477&refer_page_sn=15498&refer_source=0&freesia_scene=2&_oak_freesia_scene=2&_oak_rec_ext_1=MTY3MQ&_oak_gallery_order=788889101%2C1155176477%2C937531973%2C1018488310%2C1129903193&_oak_mp_inf=ENnhgeGm1ogBGgpzcHVhbGN6YnV5ILajqMa%2BMg%3D%3D&spec_ids=15106%2C2001%2C2%2C16086&refer_page_el_sn=223143&_x_vst_scene=adg&_x_ads_channel=google&_x_ads_sub_channel=search&_x_ads_account=9771146231&_x_ads_set=21951587463&_x_ads_id=170766825026&_x_ads_creative_id=723238877448&_x_ns_source=g&_x_ns_gclid=CjwKCAiA65m7BhAwEiwAAgu4JL4x4IuDADOEqPfkLndummn9kRW-Zrb1un1mypthFfbUIRPc4oLFhxoCyoIQAvD_BwE&_x_ns_placement=&_x_ns_match_type=b&_x_ns_ad_position=&_x_ns_product_id=&_x_ns_target=&_x_ns_devicemodel=&_x_ns_wbraid=Cj8KCQiAyJS7BhD7ARIuAJKr9o9055X0_a6W_1rNJJJJ13GZK9_0QuiyFMNqwvwSCumcCB8xJwMaAVx5-hoCwy0&_x_ns_gbraid=0AAAAAo4mICEhn9Isso1kRkZvdsCfGJsum&_x_ns_keyword=funny%20t-%20shirts%20for%20men&_x_ns_targetid=kwd-600247146452&_x_ns_extensionid=&refer_page_name=kuiper&refer_page_id=15498_1734777378604_6y0dsvmdkk&_x_sessn_id=w7qpy1forw"
r = requests.get(url)
print(r.status_code)

200

In [131]:
# Formatting the html using BeautifulSoup

soup = BeautifulSoup(r.text, "lxml")

# print(soup)

In [132]:
# WebScraping some data

prices = soup.find_all("div", class_ = "price-2Xz_3")
print(len(prices))
print(prices)

0
[]

In [36]:
for i in prices:
    print(i.text)

$69.99
$88.99
$96.99
$97.99
$99.99
$101.99
$102.99
$103.99
$107.99
$121.99
$130.99
$148.99
$172.99
$233.99
$251.99
$320.99
$399.99
$489.99
$537.99
$587.99
$603.99

In [37]:
 print(prices[3])

<h4 class="price float-end card-title pull-right">$97.99</h4>

In [38]:
desc = soup.find_all("p", class_ = "description")
print(desc[3])

<p class="description card-text">7", 8GB, Wi-Fi, Android 4.2, White</p>

# Working with Numerous Tags

In [39]:
data = soup.find_all(string = "Galaxy Tab 3")
print(data)

['Galaxy Tab 3', 'Galaxy Tab 3']

## Using the re library

In [41]:
data1 = soup.find_all(string = re.compile("Galaxy"))
print(data1)
data2 = soup.find_all(string = re.compile("Idea"))
print(data2)

['Galaxy Tab 3', 'Galaxy Tab 3', 'Galaxy Tab 4', 'Galaxy Tab', 'Galaxy Note', 'Galaxy Note', 'Galaxy Note 10...']
['Lenovo IdeaTab', 'IdeaTab A3500L', 'IdeaTab A8-50', 'IdeaTab A3500-...', 'IdeaTab S5000']

# BeautifulSoup - find_all() with Pandas

### Name of the Products

In [44]:


url1 = "https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets"
r1 = requests.get(url1)
soup1 = BeautifulSoup(r1.text, "lxml")

names = soup.find_all("a", class_ ="title")
# print(names)

product_name = []

for i in names:
    name = i.text
    product_name.append(name)
    
print(product_name)

['Lenovo IdeaTab', 'IdeaTab A3500L', 'Acer Iconia', 'Galaxy Tab 3', 'Iconia B1-730H...', 'Memo Pad HD 7', 'Asus MeMO Pad', 'Amazon Kindle', 'Galaxy Tab 3', 'IdeaTab A8-50', 'MeMO Pad 7', 'IdeaTab A3500-...', 'IdeaTab S5000', 'Galaxy Tab 4', 'Galaxy Tab', 'MeMo PAD FHD 1...', 'Galaxy Note', 'Galaxy Note', 'iPad Mini Reti...', 'Galaxy Note 10...', 'Apple iPad Air']

### Prices of the Products

In [50]:
prices = soup.find_all("h4", class_ = "price float-end card-title pull-right")
prices_list = []

for i in prices:
    price = i.text
    prices_list.append(price)
    
print(prices_list)

['$69.99', '$88.99', '$96.99', '$97.99', '$99.99', '$101.99', '$102.99', '$103.99', '$107.99', '$121.99', '$130.99', '$148.99', '$172.99', '$233.99', '$251.99', '$320.99', '$399.99', '$489.99', '$537.99', '$587.99', '$603.99']

### Description of the Products

In [51]:
desc = soup.find_all("p", class_ = "description card-text")
desc_list = []

for i in desc:
    des = i.text
    desc_list.append(des)
    
print(desc_list)

['7" screen, Android', 'Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2', '7" screen, Android, 16GB', '7", 8GB, Wi-Fi, Android 4.2, White', 'Black, 7", 1.6GHz Dual-Core, 8GB, Android 4.4', 'IPS, Dual-Core 1.2GHz, 8GB, Android 4.3', '7" screen, Android, 8GB', '6" screen, wifi', '7", 8GB, Wi-Fi, Android 4.2, Yellow', 'Blue, 8" IPS, Quad-Core 1.3GHz, 16GB, Android 4.2', 'White, 7", Atom 1.2GHz, 8GB, Android 4.4', 'Blue, 7" IPS, Quad-Core 1.3GHz, 8GB, 3G, Android 4.2', 'Silver, 7" IPS, Quad-Core 1.2Ghz, 16GB, 3G, Android 4.2', 'LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black', '16GB, White', 'White, 10.1" IPS, 1.6GHz, 2GB, 16GB, Android 4.2', '10.1", 3G, Android 4.0, Garnet Red', '12.2", 32GB, WiFi, Android 4.4, White', 'Wi-Fi + Cellular, 32GB, Silver', '10.1", 32GB, Black', 'Wi-Fi, 64GB, Silver']

### Reviews of the Products

In [56]:
reviews = soup.find_all("p", class_ = "review-count float-end")
reviews_list = []

for i in reviews:
    review = i.text
    reviews_list.append(review)

print(len(reviews_list))
print(reviews_list)

21
['7 reviews', '7 reviews', '7 reviews', '2 reviews', '1 reviews', '10 reviews', '14 reviews', '3 reviews', '14 reviews', '13 reviews', '11 reviews', '9 reviews', '8 reviews', '1 reviews', '14 reviews', '7 reviews', '12 reviews', '9 reviews', '8 reviews', '6 reviews', '7 reviews']

## Creating a DataFrame for the above Data

In [60]:
df = pd.DataFrame ({"Product Name": product_name, "Prices": prices_list, "Description": desc_list, "Number of Reviews": reviews_list})

print(df)
df.to_csv("product_details.csv")

         Product Name   Prices  \
0      Lenovo IdeaTab   $69.99
1      IdeaTab A3500L   $88.99
2         Acer Iconia   $96.99
3        Galaxy Tab 3   $97.99
4   Iconia B1-730H...   $99.99
5       Memo Pad HD 7  $101.99
6       Asus MeMO Pad  $102.99
7       Amazon Kindle  $103.99
8        Galaxy Tab 3  $107.99
9       IdeaTab A8-50  $121.99
10         MeMO Pad 7  $130.99
11  IdeaTab A3500-...  $148.99
12      IdeaTab S5000  $172.99
13       Galaxy Tab 4  $233.99
14         Galaxy Tab  $251.99
15  MeMo PAD FHD 1...  $320.99
16        Galaxy Note  $399.99
17        Galaxy Note  $489.99
18  iPad Mini Reti...  $537.99
19  Galaxy Note 10...  $587.99
20     Apple iPad Air  $603.99

                                          Description Number of Reviews
0                                  7" screen, Android         7 reviews
1   Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2         7 reviews
2                            7" screen, Android, 16GB         7 reviews
3                  7", 8GB, Wi-Fi, Android 4.2, White         2 reviews
4       Black, 7", 1.6GHz Dual-Core, 8GB, Android 4.4         1 reviews
5             IPS, Dual-Core 1.2GHz, 8GB, Android 4.3        10 reviews
6                             7" screen, Android, 8GB        14 reviews
7                                     6" screen, wifi         3 reviews
8                 7", 8GB, Wi-Fi, Android 4.2, Yellow        14 reviews
9   Blue, 8" IPS, Quad-Core 1.3GHz, 16GB, Android 4.2        13 reviews
10           White, 7", Atom 1.2GHz, 8GB, Android 4.4        11 reviews
11  Blue, 7" IPS, Quad-Core 1.3GHz, 8GB, 3G, Andro...         9 reviews
12  Silver, 7" IPS, Quad-Core 1.2Ghz, 16GB, 3G, An...         8 reviews
13        LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black         1 reviews
14                                        16GB, White        14 reviews
15   White, 10.1" IPS, 1.6GHz, 2GB, 16GB, Android 4.2         7 reviews
16                 10.1", 3G, Android 4.0, Garnet Red        12 reviews
17              12.2", 32GB, WiFi, Android 4.4, White         9 reviews
18                     Wi-Fi + Cellular, 32GB, Silver         8 reviews
19                                 10.1", 32GB, Black         6 reviews
20                                Wi-Fi, 64GB, Silver         7 reviews

## Scraping a Table from a Website - Part 1

### Importing the Libraries

In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Selecting the url

In [62]:
url = "https://ticker.finology.in"
r = requests.get(url)
print(r.status_code)

200

### Creating our BeautifulSoup()

In [63]:
soup = BeautifulSoup(r.text, "lxml")

In [64]:
### Selecting the Table

In [69]:
table = soup.find("table", class_ = "table table-sm table-hover screenertable")
# print(table)

headers = table.find_all("th")
# print(headers)

titles = []

for i in headers:
    title = i.text
    titles.append(title)

print(titles)

['Company', 'PriceRs.', 'Day HighRs.']

### Creating a DataFrame with the headers

In [70]:
df = pd.DataFrame(columns = titles)
print(df)

Empty DataFrame
Columns: [Company, PriceRs., Day HighRs.]
Index: []

## Scraping a Table from a Website - Part 2

### Getting the rest of the data

In [78]:
rows = table.find_all("tr")
# print(rows)

for i in rows[1:]:
    # print(i.text)
    data = i.find_all("td")
    # print(data)
    row = [tr.text for tr in data]
    # print(row)
    l = len(df)
    df.loc[l] = row
    
# refined = 
    
print(df)

# Saving the file
df.to_csv("stock_market_data.csv")

                     Company  PriceRs. Day HighRs.
0   \nEnviro Infra Engine.\n    380.50      392.00
1                 \nSwiggy\n    586.00      613.35
2       \nZen Technologies\n   2396.10     2502.45
3   \nOne97 Communications\n   1014.75     1063.00
4    \nPiccadily Agro Inds\n    981.80      994.15
5     \nDixon Technologies\n  18934.35    19149.80
6         \nSagility India\n     43.19       43.91
7              \nAnant Raj\n    805.00      844.00
8      \nKaynes Technology\n   7243.85     7346.30
9   \nChoice International\n    549.00      568.85
10  \nRajesh Power Service\n   1122.90     1166.70
11          \nAfcons Infra\n    540.25      567.50
12           \nPC Jeweller\n     19.25       19.25
13        \nKalyani Steels\n   1242.55     1278.90
14    \nSiyaram Silk Mills\n   1117.85     1175.00
15  \nEnviro Infra Engine.\n    380.50      392.00
16                \nSwiggy\n    586.00      613.35
17      \nZen Technologies\n   2396.10     2502.45
18  \nOne97 Communications\n   1014.75     1063.00
19   \nPiccadily Agro Inds\n    981.80      994.15
20    \nDixon Technologies\n  18934.35    19149.80
21        \nSagility India\n     43.19       43.91
22             \nAnant Raj\n    805.00      844.00
23     \nKaynes Technology\n   7243.85     7346.30
24  \nChoice International\n    549.00      568.85
25  \nRajesh Power Service\n   1122.90     1166.70
26          \nAfcons Infra\n    540.25      567.50
27           \nPC Jeweller\n     19.25       19.25
28        \nKalyani Steels\n   1242.55     1278.90
29    \nSiyaram Silk Mills\n   1117.85     1175.00

## Project - Scraping Data from a TATA IPL Auction Stats(2022)

###  Importing the libraries

In [133]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Selecting the url

In [135]:
url = "https://www.iplt20.com/auction/2022"

r = requests.get(url)
print(r.status_code)

200

### Creating the Soup

In [150]:
soup = BeautifulSoup(r.text, "lxml")
table = soup.find("table", class_ = "ih-td-tab auction-tbl")
# print(table)

# Getting the Headers

header = table.find_all("th")
print(header)

titles = []
for i in header:
    title = i.text
    titles.append(title)

# print(titles)

df = pd.DataFrame(columns = titles)
# print(df)

# Getting the Data

rows = table.find_all("tr")
# print(rows)

for i in rows[1:]:
    first_td = i.find_all("td")[1].find("div", class_ = "ih-pt-ic").text.strip()
    data = i.find_all("td")[1:] 
    # print(data)
    row = [tr.text for tr in data]
    row.insert(0, first_td)
    # print(row, len(row))
    l  = len(df)
    df.loc[l] = row

print(df)

df.to_csv("IPL_auction_stats_2022_001.csv")

[<th class="skip-filter" style="width:25%;text-align: left;">SR. NO.</th>, <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]
                       SR. NO.                                       TEAM  \
0          Chennai Super Kings          \n\n\n\n\nChennai Super Kings\n\n
1               Delhi Capitals               \n\n\n\n\nDelhi Capitals\n\n
2               Gujarat Titans               \n\n\n\n\nGujarat Titans\n\n
3        Kolkata Knight Riders        \n\n\n\n\nKolkata Knight Riders\n\n
4         Lucknow Super Giants         \n\n\n\n\nLucknow Super Giants\n\n
5               Mumbai Indians               \n\n\n\n\nMumbai Indians\n\n
6                 Punjab Kings                 \n\n\n\n\nPunjab Kings\n\n
7             Rajasthan Royals             \n\n\n\n\nRajasthan Royals\n\n
8  Royal Challengers Bangalore  \n\n\n\n\nRoyal Challengers Bangalore\n\n
9          Sunrisers Hyderabad          \n\n\n\n\nSunrisers Hyderabad\n\n

  FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    ₹2,95,00,000                 8            25
1      ₹10,00,000                 7            24
2      ₹15,00,000                 8            23
3      ₹45,00,000                 8            25
4              ₹0                 7            21
5      ₹10,00,000                 8            25
6    ₹3,45,00,000                 7            25
7      ₹95,00,000                 8            24
8    ₹1,55,00,000                 8            22
9      ₹10,00,000                 8            23

## Websites with multiple pages _ Part 1

### Importing the libraries

In [153]:
import requests
from bs4 import BeautifulSoup

### Import url

In [154]:
url = "https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme%20Narzo%2010"
r = requests.get(url)
print(r.status_code)

200

### Import BeautifulSoup for this site

In [156]:
soup = BeautifulSoup(r.text, "lxml")
# print(soup) _9QVEpD

###  Retrieving the "Next" button

In [161]:
np = soup.find("a", class_ = "_9QVEpD").get("href")
print(np)

/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=2

### Getting the next page

In [162]:
cnp = "https://www.flipkart.com" + np
print(cnp)

https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=2

### Getting Next and following Pages

In [170]:
# Below is the first page

url = "https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme%20Narzo%2010"
r = requests.get(url)
# print(r.status_code)

soup = BeautifulSoup(r.text, "lxml")
# print(soup) _9QVEpD

np = soup.find("a", class_ = "_9QVEpD").get("href")
cnp = "https://www.flipkart.com"+np
print(cnp) 

# #  Retrieving the following pages

for i in range(2, 11):
    url = "https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page="+str(i)
    r = requests.get(url)
    print(r)
    
    soup = BeautifulSoup(r.text, "lxml")
    # Print(soup)
    
    np = soup.find("a", class_ = "_9QVEpD").get("href")
    cnp = "https://www.flipkart.com"+np
    print(cnp)

https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=2
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=1
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=2
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=3
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=4
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=5
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=6
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=7
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=8
<Response [200]>
https://www.flipkart.com/search?q=realme+narzo&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=realme+narzo%7CMobiles&requestId=476a6f55-e221-401b-a140-88301c17efcb&as-backfill=on&otracker=nmenu_sub_Electronics_0_realme+Narzo+10&page=9

## WebScraping Multiple Pages - Part 2
##  Using a different webSite

### Below is the first page

In [180]:
# Import packages

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [234]:
# Setting up the First Page


Names = []
Prices = []
Desc = []
Reviews = []

for i in range(1, 11):
    url = "https://www.flipkart.com/search?q=apple&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    r = requests.get(url)
    print(r.status_code)

    soup = BeautifulSoup(r.text, "lxml")
    box = soup.find("div", class_ = "DOjaWF YJG4Cf")
    # print(soup)
    names = box.find_all("div",class_ = "KzDlHZ")
    # print(names)

    for i in names:
        n = i.text
        Names.append(n)
    # print(Names)

    prices = box.find_all("div", class_ = "Nx9bqj _4b5DiR")

    for i in prices:
        p = i.text
        Prices.append(p)
    # print(Prices)

    desc = box.find_all("ul", class_ = "G4BRas")

    for i in desc:
        d = i.text
        Desc.append(d)
    #print(Desc)

    reviews = box.find_all("div", class_ ="XQDdHH")

    for i in reviews:
        r = i.text
        Reviews.append(r)
    
Reviews = Reviews + ["4.5"]
# print(Reviews, len(Reviews))
    
# Creating the DataFrame
    
df = pd.DataFrame({"Product Name": Names, "Product Prices": Prices, "Product Description":Desc, "Product Reviews": Reviews})
print(df)

200
200
200
200
200
200
200
200
200
200
['4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.6', '4.7', '4.7', '4.6', '4.7', '4.6', '4.6', '4.7', '4.7', '4.6', '4.7', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.7', '4.7', '4.7', '4.6', '4.6', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.7', '4.7', '4.7', '4.5', '4.7', '4.7', '4.7', '4.6', '4.6', '4.7', '4.6', '4.5', '4.6', '4.5', '4.6', '4.6', '4.6', '4.5', '4.6', '4.5', '4.6', '4.6', '4.5', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.5', '4.4', '4.2', '4.6', '4.6', '3.3', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.4', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.7', '4.7', '4.7', '4.6', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.7', '4.5', '4.6', '4.5', '4.6', '4.5', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.7', '4.6', '4.6', '4.7', '4.6', '4.5', '4.6', '4.6', '4.6', '4.7', '4.7', '4.6', '4.7', '4.6', '4.6', '4.7', '4.4', '4.6', '4.4', '4.6', '4.5', '4.7', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.5', '4.5', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.7', '4.5', '4.6', '4.6', '4.7', '4.7', '4.6', '4.7', '4.6', '4.6', '4.6', '4.5', '4.5'] 240
                              Product Name Product Prices  \
0     Apple iPhone 15 Plus (Green, 128 GB)        ₹63,999
1     Apple iPhone 15 Plus (Black, 128 GB)        ₹63,999
2          Apple iPhone 15 (Black, 128 GB)        ₹58,999
3          Apple iPhone 15 (Green, 128 GB)        ₹57,999
4      Apple iPhone 15 Plus (Pink, 128 GB)        ₹63,999
..                                     ...            ...
235     Apple iPhone 13 Pro (Gold, 256 GB)      ₹1,29,900
236  Apple iPhone 14 Plus (Yellow, 128 GB)        ₹56,999
237  Apple iPhone 14 Plus (Yellow, 256 GB)        ₹66,999
238  Apple iPhone 14 Plus (Purple, 256 GB)        ₹66,999
239   Apple iPhone 12 mini (Purple, 64 GB)        ₹59,900

                                   Product Description Product Reviews
0    128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.6
1    128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.6
2    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...             4.6
3    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...             4.6
4    128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.6
..                                                 ...             ...
235  256 GB ROM15.49 cm (6.1 inch) Super Retina XDR...             4.6
236  128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.6
237  256 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.6
238  256 GB ROM17.02 cm (6.7 inch) Super Retina XDR...             4.5
239  64 GB ROM13.72 cm (5.4 inch) Super Retina XDR ...             4.5

[240 rows x 4 columns]

In [235]:
#  Creating a file with the results

df.to_csv("mobiles.csv")

In [233]:
# For testing purposes.  For some reason the last value of the "Reviews was being left off"

print(len(Names))
print(len(Prices))
print(len(Desc))
print(len(Reviews))

240
240
240
240